/*
@aqua:  #7FDBFF;
@blue:  #0074D9;
@navy:  #001F3F;
@teal:  #39CCCC;
@green: #2ECC40;
@olive: #3D9970;
@lime:  #01FF70;

// Warm
@yellow:  #FFDC00;
@orange:  #FF851B;
@red:     #FF4136;
@fuchsia: #F012BE;
@purple:  #ec008c;
@maroon:  #85144B;

// Gray Scale
@white:  #fff;
@silver: #ddd;
@gray:   #aaa;
@black:  #111;
*/

body {
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
}

#divider {
  clear: both;
}

.flip-container {
  cursor: pointer;
  float: left;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;
}

.flip-container, .front, .back {
  width: 100px;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
}

.flipper {
  transition: 0.6s linear;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateX(180deg);
}

.flip-container {
  position: relative;
}

.flip-container.clicked .back {
  transform: rotateX(0deg);
}

.flip-container.clicked   .front {
  transform: rotateX(180deg);
}

/*Ugh*/
.back {
  background-color: #2ECC40;
  text-align: center;
  font-size: 3em;
  color: white;
  padding-top: 22px;
}

/* perkele */
.card-1 .front {
  background-color: #7FDBFF;
}
.card-2 .front {
  background-color: #39CCCC;
}
.card-3 .front {
  background-color: #ec008c;
}
.card-4 .front {
  background-color: #FF851B;
}
.card-5 .front {
  background-color: #FFDC00;
}
.card-6 .front {
  background-color: #85144B;
}
.card-7 .front {
  background-color: #0074D9;
}
.card-8 .front {
  background-color: #001F3F;
}
.card-9 .front {
  background-color: #3D9970;
}
.card-10 .front {
  background-color: #01FF70;
}
.card-11 .front {
  background-color: #FF4136;
}
.card-12 .front {
  background-color: #F012BE;
}
