
<button ng-click="start()">Restart game</button>
<button ng-click="reset()">Reset current</button>

Time played: {{timers[gameNumber].time}} seconds.

pairs: {{board.pairs}}
<span ng-if="gameEnded">
  Congratulations!<br>
  Stats:<br>
  <ul>
    <li>Tries: {{timers[gameNumber].tries}}</li>
    <li>Time: {{timers[gameNumber].time}}</li>
    <li>Started: {{timers[gameNumber].startTime}}</li>
    <li>Ended: {{timers[gameNumber].endTime}}</li>
  </ul>

  Upload some images for the game?<br>

  <input type="file" onchange="angular.element(this).scope().uploadFile(this)" />

  <button
    type="button"
    aria-label="Select picture"
    class="select-file-container"
    ng-click="selectFile()">
    Select picture
   </button>

   <progress min="0" max="100" value="{{uploadProgress}}"></progress>

  <pre>{{timers | json:2}}</pre>
</span>

<div class="divider"></div>

<div id="board">
  <span ng-repeat="card in cards">
    <div
      class="flip-container {{card.cardClass}}"
      ng-click="toggleCard(card)"
      ng-class="{clicked: card.clicked}">

      <div class="flipper">
        <div class="front"></div>
        <div class="back" ng-class="{match: card.match}">
          {{card.number}}
        </div>
      </div>

    </div>

    <div ng-if="$index % cardsPerRow === cardsPerRow - 1" class="divider"></div>
  </span>
</div>

<div id="matches">
  <div ng-repeat="match in matches" class="match">
    {{match.number}}
  </div>
</div>

<div class="divider"></div>