
<button ng-click="start()">Restart game</button>
<button ng-click="reset()">Reset current</button>

Time played: {{timers[gameNumber].time}} seconds.

pairs: {{board.pairs}}
<span ng-if="matches.length == board.pairs">
  <pre>{{timers | json:2}}</pre>
</span>

<div class="divider"></div>

<div id="board">
  <span ng-repeat="card in cards">
    <div
      class="flip-container {{card.cardClass}}"
      ng-click="toggleCard(card)"
      ng-class="{clicked: card.clicked}">

      <div class="flipper">
        <div class="front"></div>
        <div class="back" ng-class="{match: card.match}">
          {{card.number}}
        </div>
      </div>

    </div>

    <div ng-if="$index % cardsPerRow === cardsPerRow - 1" class="divider"></div>
  </span>
</div>

<div id="matches">
  <div ng-repeat="match in matches" class="match">
    {{match.number}}
  </div>
</div>

<div class="divider"></div>